<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="TwoWheelerCatalogueConnectionString" connectionString="Data source = BASIT\SQLEXPRESS;Initial Catalog=TwoWheelerCatalogue;Integrated Security=True;User ID=sa;Password=hello123"
		 providerName="System.Data.SqlClient" />
		<add name="TwoWheelerCatalogueConnectionString2" connectionString="Data source = BASIT\SQLEXPRESS;Initial Catalog=TwoWheelerCatalogue;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />
		<add name="TwoWheelerCatalogueConnectionString3" connectionString="Data source = BASIT\SQLEXPRESS;Initial Catalog=TwoWheelerCatalogue;Integrated Security=True;"
		 providerName="System.Data.SqlClient" />
		<add name="TwoWheelerCatalogueConnectionString4" connectionString="Data Source=BASIT\SQLEXPRESS;Initial Catalog=TwoWheelerCatalogue;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="webpages:Enabled" value="true" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="smtp.gmail.com" port="587"  userName="entermail@gmail.com"  password="jhgjhgjhgjgjgjgjgjhg"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>